body {
    display: flex;
    background: #229ad7;
    background-image: linear-gradient(to bottom, rgba(34,156,219,1) 0%, rgb(187, 10, 178) 100%);
    justify-content: center;
}

.outerbox {
    margin: 50px;
    width: 400px;
}

.display {
    width:200px;
    font-size: 30px;
    margin-left: 100px;
}

.keys {
    display: flex;
    justify-content: space-around;
    border-spacing: 5px 5px;
}
.col-1 {
    width:40%;
    height: auto;
    display: flex;
    justify-content: center;
}
.onScreen_button {
    display: block;
    padding:15px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    font-size: large;
    text-shadow: 2px 2px 4px #000000;
}

.onScreen_button2 {

    padding-inline-end: 70px;
    font-size: large;
    text-shadow: 2px 2px 4px #000000;
}

